.idea/*
# All directories starting with build in the repository root
/build*
.vscode/*
*.png
*.asv
/documentation

# Build / install output and local artefacts
/install*
/CMakeCache.txt
/CMakeFiles/
/results*
__pycache__/
